node_modules
**/coverage/
src/apps/desktop/addons
.temp
temp
dist
out
build
.output
.next/
.source/
.DS_Store
*.log*
*.tsbuildinfo
**/*.tsbuildinfo
.turbo/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz
.pnp.*
logs/
playwright-report/
test-results/

# Dev Addons
src/dev-addons/*
!src/dev-addons/*.md
!src/dev-addons/datasource-fake/