node_modules
**/coverage/
src/apps/desktop/addons
.temp
temp
dist
out
build
.output
.next/
.source/
.DS_Store
*.log*
.turbo/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
